*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: #b4bbbb;
    width: 100%;
    height: 100vh;
}
nav{
    padding: 15px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}
nav img{
    width: 100px;
}
nav .pic{
    width: 50px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    padding-right: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}