*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: #b4bbbb;
    width: 100%;
    height: 100vh;
}
nav{
    padding: 15px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    position: relative;
}
nav img{
    width: 100px;
}
nav .pic{
    width: 38px;
    margin-left: 18px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    padding-right: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.sub-branch{
position: absolute;
    top: 100%;
    right: 9%;
    width: 260px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    padding: 0 20px;
    
}
.sub-branch.open-branch{
    max-height: 400px;
}
.details{
    display: flex;
    align-items: center;
}
.details img{
width: 57px;
padding-right: 8px;
}
.sub-branch hr{
    height: 1px;
    width: 100%;
    border: 0;
    margin: 10px 0;
    background-color: #6b5656;
}
.settings img{
    width: 90px;
}
.links img{
    width: 40px;
    border-radius: 50%;
    background: #e5e5e5;
    margin-right: 12px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.links h2{
    font-size: 15px;
    margin-left: 1px;
    margin: 10px 0;
    width: 100%;
    font-weight: 300;
}
.box a{
    text-decoration: none;
    color: #525252;
}
 .links span{
    font-size: 17px;
    transition: transform 0.5s;
}
.links:hover span{
    transform: translate(5px);
}

.links:hover h2{
    font-weight: 700;
}
